@{
    ViewData["Title"] = "Aboutus";
}
<div> ABOUT ASP.NET </div>
<p> .NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.

ASP.NET extends the .NET developer platform with tools and libraries specifically for building web apps.</p>

<img src="~/images/net.png" class="img" alt="My image" />


