@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="~/images/Baby-wear-scaled.jpg" class="img" width="350" height="400" alt="My image" />
<br>
<img src="~/StaticFiles/images/shirt3.jpg" class="img" width="350" height="400" alt="A red rose" />


